---
layout: container
title: Homework Assignments
---

<div class="ml-3 mr-3 mb-3 pb-3 border-bottom border-dark" width="100%">
<h2>Homework Assignments</h2>
<div class="border-top border-dark pt-3 mt-3">
	See also:
	  <a href="{{site.baseurl}}/lectures/">Lectures</a>
	| <a href="{{site.baseurl}}/project/">Project</a>
</div>
</div>
<div class="ml-3 mr-3 mb-3 pb-3 border-bottom border-dark" width="100%">
Note that last year's assignments are list marked with (2020). They will be updated to their definitive 2021 versions.
</div>

{% assign posts = site.posts | where: "tag", "homework" | sort: 'date' %}

{% for post in posts %}
  {% if post.tag == "homework" %}
	  {% assign currentdate = post.date | date: "%Y" %}
	  {% if currentdate != date %}
	    {% unless forloop.first %}
		    </ul> </div> </div>
			{% endunless %}
				<div class="row ml-3 mr-3 mb-3 border-bottom border-secondary">
					<div class="col-md-2 ml-0 pl-0 pr-0">
						<div class="">
							<h3 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h3>
						</div>
					</div>
					<div class="col-md-10 pl-0 pr-0 mr-0">
						<ul class="list-group list-group-flush">
	    				{% assign date = currentdate %}
	 {% endif %}
		<li class="list-group-item pl-0 ml-0 border-0 pt-0 mb-0"  >
	    {% include talk-in-index.html %}
		</li>
	 {% if forloop.last %}
	    </ul> </div> </div>
	 {% endif %}
 {% endif %}
{% endfor %}
