<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

	<a class="navbar-brand" href="{{site.baseurl}}/">
		TU Delft | CS4200
	</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

			{% for menu in site.data.navigation.navigation %}

			  {% if menu.anchor %}

        <li class="nav-item active">
          <a class="nav-link" href="{{site.baseurl}}{{ menu.anchor }}" tabindex="-1" aria-disabled="true">{{ menu.name }}</a>
        </li>

				{% else %}

				<li class="nav-item dropdown active">
	        <a class="nav-link dropdown-toggle" href="#" id="{{ menu.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ menu.name }}
					</a>
	        <div class="dropdown-menu" aria-labelledby="{{ menu.id }}">
						{% for item in menu.items %}
	            <a class="dropdown-item" href="{{site.baseurl}}{{ item.anchor }}">{{ item.name }}</a>
						{% endfor %}
	        </div>
	      </li>

				{% endif %}

			{% endfor %}

    </ul>

  </div>
</nav>
