<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<!-- <h1 class="border-top border-grey pt-3 pb-3">
				{{ page.title }}
			</h1> -->
			<a href="{{ page.pdf }}">
				<img class="border border-dark" width="100%" src="{{ page.image }}"/>
			</a>

			<div class="datebox mt-3 mb-3 text-secondary">
				{{ page.authors[0] }}{% for a in page.authors offset:1 %}, {{ a }}{% endfor %} |
			  {{ page.title }} |
				{% if page.conference != null %}
					<a class="text-secondary" href="{{ page.conference }}">
						{{ page.venue }}
					</a>
				{% else %}
				  {{ page.venue }}
				{% endif %}
				| {{ page.date | date: "%B %d, %Y"}}
				| <a class="text-secondary" href="{{ page.pdf }}">PDF</a>
			</div>

			{% assign posters = site.posts | where: "tags", ["poster"] %}

			{% assign prev = null %}
			{% assign next = null %}
			{% assign found = "false" %}

			{% for p in posters %}
				{% if p.tags contains "poster" %}
					{% if found == "true" %}
						{% assign prev = p %}
						{% break %}
					{% endif %}
				 	{% if p.id == page.id %}
						{% assign found = "true" %}
					{% else %}
					  {% assign next = p %}
					{% endif %}
				{% endif %}
			{% endfor %}

			<div class="border-top border-bottom border-grey mt-3 pt-3">
				<nav>
					<ul class="pagination justify-content-center">
						{% if prev != null  %}
							<li class="page-item">
								<a class="page-link" href="{{prev.id}}">
									Previous
								</a>
							</li>
						{% endif %}
						{% if next != null %}
							<li class="page-item">
								<a class="page-link"  href="{{next.id}}">Next</a>
							</li>
						{% endif %}
						<li class="page-item">
							<a class="page-link" href="/posters/">
								Index
							</a>
						</li>
					</ul>
				</nav>
			</div>
</div>
