{% assign tag = page.tag %}
{% assign talks = site.posts | where: "tag", tag %}
{% assign prev = null %}
{% assign next = null %}
{% assign found = "false" %}

{% for p in talks %}
	{% if p.tag == tag %}
		{% if found == "true" %}
			{% assign prev = p %}
			{% break %}
		{% endif %}
		{% if p.id == page.id %}
			{% assign found = "true" %}
		{% else %}
			{% assign next = p %}
		{% endif %}
	{% endif %}
{% endfor %}

<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
	    {% if page.image != null %}
				<a href="{{site.baseurl}}{{ page.pdf }}">
					<img class="border border-dark" width="100%" src="{{site.baseurl}}{{ page.image }}"/>
				</a>
			{% endif %}

			<div class="mt-3 mb-3 pt-3 pb-3 text-dark border-top border-bottom border-grey">
				<div class="text-dark font-weight-bold">
					<h1>
					{% if page.talkURL != null %}
				    <a class="text-dark" href="{{ page.talkURL }}">
							{{ page.title }}
						</a>
				  {% else %}
					  {{ page.title }}
				  {% endif %}
					</h1>
				</div>
				<div>
					{% if page.speaker != null %}
					  {{ page.speaker }}
					{% endif %}
					{% if page.authors.size > 0 %}
					  | Joint work with {{ page.authors[0] }}{% for a in page.authors offset:1 %}, {{ a }}{% endfor %}
					{% endif %}
			  </div>
			  <div>
					{% if page.kind != null %}
							{% if page.talkURL != null %}
								<a class="text-primary" href="{{ page.talkURL }}">
									{{ page.kind }}
								</a>
							{% else %}
								{{ page.kind }}
							{% endif %}
					{% endif %}
					{% if page.eventURL != null %}
					  at
						  <a class="text-primary" href="{{ page.eventURL }}">
							  {{ page.event }}
						  </a>
					{% else %}
					    {{ page.event }}
					{% endif %}
					{% if page.pdf != null %}
						| <a class="text-primary" href="{{site.baseurl}}{{ page.pdf }}">PDF</a>
					{% endif %}
					{% if page.video != null %}
					  | <a class="text-primary" href="{{ page.video }}">Video</a>
					{% endif %}
			  </div>
			  <div>
					{{ page.date | date: "%B %d, %Y"}}
				</div>
      </div>
  </div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-9 border-lg-right border-grey">
		{{ content }}
		{% if page.references != null %}
			  {% assign references = page.references %}
				{% assign sorted_publications = site.data.publications.bib-compact.publications | sort: "year" | reverse %}
				{% include references.html %}
		{% endif %}
  </div>
	<div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 " >
		<div class="sticky-top top70 d-none d-lg-block d-xl-block">
		<div class="pb4 mb3 border-bottom border-grey ">
			<nav>
				<ul class="pagination justify-content-left">
					{% if prev != null  %}
						<li class="page-item">
							<a class="page-link" href="{{site.baseurl}}{{prev.permalink}}">
								&laquo;
							</a>
						</li>
					{% endif %}
					<li class="page-item">
						<a class="page-link" href="{{site.baseurl}}/{{page.series}}/">
							^
						</a>
					</li>
					{% if next != null %}
						<li class="page-item">
							<a class="page-link"  href="{{site.baseurl}}{{next.permalink}}">&raquo;</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</div>
		{% include toc.html html=content sanitize=true
			class="toc.list-group.list-group-flush.d-none.d-lg-block.d-xl-block.p-0.ml-0.mt-3"
			item_class="list-group-item.pl-0.ml-0.border-0.pl-0.pt-0.pb-1.pr-0.m-0.mr-3" id="my_toc"
			submenu_class="toc-sub.pl-0"%}
		</div>
  </div>
</div>

<div class="row">
	<div class="col-12">
		<div class="border-top border-bottom border-grey mt-3 pt-3">
			<nav>
				<ul class="pagination justify-content-center">
					{% if prev != null  %}
						<li class="page-item">
							<a class="page-link" href="{{site.baseurl}}{{prev.id}}">
								Previous
							</a>
						</li>
					{% endif %}
					{% if next != null %}
						<li class="page-item">
							<a class="page-link"  href="{{site.baseurl}}{{next.id}}">Next</a>
						</li>
					{% endif %}
					<li class="page-item">
						<a class="page-link" href="{{site.baseurl}}/{{page.series}}/">
							Index
						</a>
					</li>
				</ul>
			</nav>
		</div>
  </div>
</div>
