{% assign color = "border-primary" %}
{% if post.admin %}
  {% assign color = "border-warning" %}
{% endif %}
{% if post.important %}
  {% assign color = "border-danger" %}
{% endif %}

<div class="bd-callout {{ color }} pl-3">
	<div class="font-weight-bold text-dark" >
	 <a class="text-dark" href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
	</div>
	{% if post.speaker != null %}
		<!-- <div class="text-secondary" >
			{{ post.speaker }}
		</div> -->
	{% endif %}
	<div class="text-secondary" style="font-size:90%;">
		{% if post.kind != null %}
				{% if post.talkURL != null %}
			  	<a class="text-primary" href="{{ post.talkURL }}">
						{{ post.kind }}
					</a>
				{% else %}
			  	{{ post.kind }}
				{% endif %}
		{% endif %}
		{% if post.event != null %}|
			{% if post.eventURL != null %}
				<a class="text-secondary" href="{{ post.eventURL }}">
					{{ post.event }}
				</a>
			{% else %}
				{{ post.event }}
			{% endif %}
		{% endif %}
	</div>
	<div class="font-weight-light text-secondary" style="font-size:90%;">
		{{ post.date | date: "%B %d, %Y" }}
	</div>
</div>
